<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>859775757332-0hs3hpflhocdbin26p8sfjimkfu9fv7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859775757332-0hs3hpflhocdbin26p8sfjimkfu9fv7r</string>
	<key>API_KEY</key>
	<string>AIzaSyDENllqhkmxoSNkGrDW2rJStbPB0-vMI2s</string>
	<key>GCM_SENDER_ID</key>
	<string>859775757332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>k-o-d-e-n.Realtime-Example</string>
	<key>PROJECT_ID</key>
	<string>link-in-team</string>
	<key>STORAGE_BUCKET</key>
	<string>link-in-team.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859775757332:ios:da72ebf7800ce170</string>
	<key>DATABASE_URL</key>
	<string>https://link-in-team.firebaseio.com</string>
</dict>
</plist>